/* Set up some CSS variables to theme the application. */
:root {
  --nat-navbar-bg: darkblue;
  --nat-navbar-bg-rgb: 0, 0, 139;
  --nat-navbar-text-color: white;
  --nat-navbar-highlight-text: khaki;
}

/* Change bootstrap variable values.
 See https://getbootstrap.com/docs/5.2/customize/css-variables/
 */
html,
body {
  --bs-light-rgb: 236, 236, 236;
  --bs-dark: var(--nat-navbar-bg);
  --bs-dark-rgb: var(--nat-navbar-bg-rgb);
  box-sizing: border-box;
  background: url('/MoonlightWallpaper.jpg') no-repeat center center fixed;
  background-size: cover;
  height: 100%;
  padding: 0;
  margin: 0;
}
.wrapper {
  box-sizing: border-box;
  min-height: 100%;
  display: flex;
  flex-direction: column;
}

/* Style footer and navbar text */
footer, footer a {
  color: var(--nat-navbar-text-color);
}

/* Override Bootstrap navbar CSS variables */
body .navbar {
  --bs-navbar-active-color: var(--nat-navbar-highlight-text);
  --bs-navbar-brand-color: var(--nat-navbar-text-color);
  --bs-navbar-brand-hover-color: var(--nat-navbar-highlight-text);
  --bs-navbar-color: var(--nat-navbar-text-color);
  --bs-navbar-hover-color: var(--nat-navbar-highlight-text);
}

/* Change dropdown text color for dark backgrounds */
.bg-dark a.dropdown-item {
  color: var(--nat-navbar-bg);
}
